 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

/// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}



.topheader {
  height: 80px;
  color: orange;
  border-bottom: 1px solid gray;
}

.topmid {
  height: 55px;
  width: 975px;
  border: 1px solid gray;
  margin-left: 178px;
}
.sidebar {
  float:left;
  margin-left:178px;
  height: 1120px;
  width: 220px;
  border-left: 1px solid gray;
}
.center {
  float: right;

}
